# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pdb
nhethpool/obj/Debug/nhethpool.exe
*.cache
nhethpool/obj/Debug/nhethpool.csproj.FileListAbsolute.txt
*.exe
nhethpool/obj/Release/nhethpool.csproj.FileListAbsolute.txt
nhethpool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
sharecheck/sharecheck.vcxproj.user
*.obj
x64/Debug/config.json
nhethpool.sdf
3rdparty/cryptopp/lib/cryptopp.lib
3rdparty/cryptopp/lib/cryptoppd.lib
nhethpool.v12.suo
